<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Page</title>
</head>
<body>
<a href="/addCompany" th:text="#{companies.add}">Add Company</a>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>size</th>
        <th>address</th>
        <th>action</th>
    </tr>
    <tr th:each="company:${companies}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
        <td th:text="${company.size}"></td>
        <td th:text="${company.address}"></td>
        <td><a th:href="@{'/deleteCompany/'+${company.id}}" th:text="#{company.delete}">Delete</a></td>
    </tr>
</table>
</body>
</html>