<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Page</title>
</head>
<body>
<div>
    <a href="/employees/add" th:text="#{employee.add}">Add employee</a><br>
    <a th:each="employee:${employees}" th:href="@{'/employees' + ${employee.id}}">
        <div style="width: 105px; float: left">
            <div>
                <img th:if="${employee.picUrl!=null}" th:src="@{/getImage(picName=${employee.picUrl})}" width="100" height="100"/>
                <img th:if="${employee.picUrl==null}" src="/img.png" width="100" height="100"/>
            </div>
            <div>
                <span th:text="${employee.name}"></span>
                <span th:text="${employee.surname}"></span>
                <span th:text="${employee.email}"></span>
                <span th:text="${employee.phoneNumber}"></span>
                <span th:text="${employee.salary}"></span>
                <span th:text="${employee.position}"></span>
            </div>
            <p th:text="#{company.info}"></p>
            <div>
                <span th:text="${employee.company.name}"></span>
            </div>
        </div>
    </a>
</div>
</body>
</html>